@import "../../assets/scss/variable";
.container {
  background: $primary-opacity-1 !important;
  // border: none;

  .button {
    width: 100%;
  }

  .selected {
    background: $primary-opacity-1;
    color: $primary;
    border: 1px solid $primary;
    font-weight: bold;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;

    i {
      display: none;
    }

    &:hover {
      background: rgba(255, 0, 0, 0.2);
      color: red;
      border: 1px red solid;
    }

    &:hover i {
      color: red;
      display: inline;
    }
  }
}
